body {
    background-image: url(/assets/images/prism.png);
}

.input-text-style {
    background-color: #333;
    color: white;
    width: 70px;
  
}

.inputDiv-style {
    margin: 0;
    border: 1px solid white;
}

#currentDay {
    font-weight: bold;
    color: #333;
}

.btn-style {
    background-color: pink;
}

.jumbotron-style {
    background-image: -webkit-linear-gradient(#f06493, pink)
}

.change-blue {
    background-image: -webkit-linear-gradient(#5555ce, skyblue);
    float: right;
}

.change-purple {
    background-image: -webkit-linear-gradient(#983fb1, #cda8db);
    float: right;
}
.change-green {
    background-image: -webkit-linear-gradient(#3fb158, #9ddb9b);
    float: right;
}
.change-orange {
    background-image: -webkit-linear-gradient(#ffa723, #ffdc91);
    float: right;
}
.change-pink {
    background-image: -webkit-linear-gradient(#f06493, pink);
    float: right;
}
.change-clear {
    background-image: -webkit-linear-gradient(#ffffff, #b6b6b6);
    float: right;
    border: .5px solid #333;
}

.color-change {
    align: right;
    color: #333;
}